@import '../styles/colors.scss';
@import '../styles/mixins.scss';

#blogPage {
    .blogHero {
        background-image: url('../../public/images/heroimages/blogpage-hero.jpg');
        background-repeat: no-repeat;
        background-position: 30% 50%;
        background-size: cover;
        height: 300px;
        width: 100%;
        z-index: 0;
        position: absolute;
        top: 0;

        h1 {
            position: absolute;
            bottom: 0;
            left: 80px;
            color: white;
            text-transform: uppercase;

            @media  screen and (max-width: 640px) {
                left: 40px; 
            }

            @media  screen and (min-width: 1200px) {
                left: 200px; 
            }
        }
    }

    .blogIntro {
        padding-top: 40px;
        padding-bottom: 40px;
        @include large-container;
    }

    @include intro-text;

    #blogPosts {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        .post {
            .postLink {
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                border-top: 1.5px solid black;
                padding-top: 40px;
                padding-bottom: 40px;
                @include large-container;
                cursor: pointer;

                &:hover {
                    background-color: $teal;
                }

                @media  screen and (max-width: 640px) {
                    flex-direction: column;
                    height: auto;
                }

                @media  screen and (max-width: 640px) {
                    padding: 40px 40px;
                    
                }
                
                p {
                    margin: 0;
                }

                .number, .content, .date {
                    width: 33%;
                    text-align: left;
                }
    
                .number {
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    font-weight: 300;

                    @media screen and (max-width: 640px) {
                        display: none;
                    }
                }
    
                .content {
                    width: 60%;
    
                    .title {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        
                    }
    
                    p {
                        margin: 0;
                        font-size: .85rem;
                    }
                }

                .date {
                    text-align: right;
                    text-transform: uppercase;
                    font-style: italic;
                    @media  screen and (max-width: 640px) {
                        position: absolute;
                        top: 40px;
                        right: 40px;
                    }
                }
            }
        }
    }
}