@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.linkBanner {
    .linkRow {
        background-color: $dark-teal;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        padding: 20px 80px;



        @media screen and (max-width: 715px) {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .linkCol {
            @media screen and (max-width: 715px) {
                border-bottom: 1.5px solid white;
                width: 100%;

                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    background-color: $teal;
                }
            }
            a {
                font-weight: 600;
                color: white;
                text-decoration: none;
                font-size: 1rem;
                &:hover {
                    color: $teal;
                }

                @media screen and (max-width: 715px) {
                    font-size: 1rem;
                    display: block;
                    padding: 30px 40px;
                    color: white;

                    &:hover {
                        color: $dark-teal;
                    }
                }
            }

        }
    }
}