@import '../styles/colors.scss';
@import '../styles/mixins.scss';

#contactPage {
    padding-top: 20px;
    margin-bottom: 200px;
    .contactHero {
        background-image: url('../../public/images/heroimages/contactpage-hero.jpg');
        background-repeat: no-repeat;
        background-position: 30% 40%;
        background-size: cover;
        height: 25vh;
        width: 100%;
        z-index: 0;
        position: absolute;
        top: 0;

        h1 {
            position: absolute;
            bottom: 0;
            color: white;
            @include large-container;
        }
    }

    .contactForm {
        padding: 20px 80px;
        width: 50%;

        @media screen and (max-width: 640px) {
            width: 100%;
            padding: 20px 40px;
        }

        @media screen and (min-width: 1200px) {
            padding-left: 200px;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                border: none;
                border-bottom: 1px solid black;
                padding: 10px 0;
                margin-bottom: 20px;

                &:focus {
                    outline: none;
                    border-bottom: 1.5px solid $teal;
                }
            }

            textarea {
                padding: 10px 0;
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 20px;

                &:focus {
                    outline: none;
                    border-bottom: 1.5px solid $teal;
                }
            }

            button {
                margin-top: 20px;
                border: none;
                text-transform: uppercase;
                width: 30%;
                padding: 10px;
                background-color: $dark-teal;
                color: white;
                font-weight: 600;

                &:hover {
                    background-color: $teal;
                    color: $dark-teal;
                }
            }
        }
    }
}