@import '../styles/colors.scss';

#otherPage {
    font-family: bookmania, serif;
    #pageLinks {
        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                border-bottom: 1px solid $black;
                padding: 40px 80px;
                transition: background-color 0.8s ease;
                // transition: border-left 0.6s ease;
                // transition: border-right 0.6s ease;

                &:first-child {
                    border-top: 1px solid $black;
                }

                &:hover {
                    background-color: $teal;
                }

                a {
                    text-decoration: none;
                    color: $black;
                    font-size: 1.5rem;
                    padding-left: 4px;
                }
            }
        }
    }
}