@import '../styles/colors.scss';

#aboutPage {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;

    .introText {
        font-weight: 900;
        font-size: 1.35rem;
    }
    
    .aboutHero {
        background-image: url('../../public/images/heroimages/aboutpage-hero.jpg');
        background-repeat: no-repeat;
        background-position: 30% 45%;
        background-size: cover;
        height: 25vh;
        width: 100%;
        z-index: 0;
        position: absolute;
        top: 0;

        h1 {
            position: absolute;
            bottom: 0;
            left: 80px;
            color: white;
        }
    }

    .aboutIntro {
        padding: 20px 80px;
        border-bottom: 1.5px solid black;
    }

    .aboutText {
        margin-bottom: 50px;
    }

    .peachProfile {
        border-bottom: 1.5px solid black;
        .peachLeft {
            width: 50%;
            padding: 40px 80px;
            border-right: 1.5px solid black;
            background-color: #CED2CE;

            @media screen and (max-width: 755px) {
                width: auto;
                order: 2;
                border-right: none;
                border-top: 1.5px solid black;
            }
        }

        .peachRight {
            width: 50%;

            @media screen and (max-width: 755px) {
                height: 350px;
                order: 1;
                width: 100%;
            }
        }
        .peachImage {
            background-image: url('../../public/images/peach/peach-water.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

    }

    .akcHeader {
        margin-bottom: 10px;
        border-bottom: 1.5px solid black;
        padding-bottom: 6px;
    }

    .akcTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1.5px solid black;
        h4, p {
            margin: 0;
        }
         h4 {
            font-size: .9rem;
         }
    }

    .billyProfile {
        .billyImage {
            background-image: url('../../public/images/billy/billy-water.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;

            @media screen and (max-width: 755px) {
                height: 350px;
                background-position: 50% 40%;
            }
        }

        .billyRight {
            color: white;
            background-color: $black;
            width: 50%;
            padding: 40px 80px;
            border-left: 1.5px solid black;

            .akcHeader, .akcTitle {
                border-bottom: 1.5px solid white;
            }

            @media screen and (max-width: 755px) {
                width: auto;
            }
        }

        .billyLeft {
            width: 50%;

            @media screen and (max-width: 755px) {
                width: 100%;
                border-bottom: 1.5px solid black;
            }
        }
    }

    .dogRow {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 755px) {
            flex-direction: column;
        }
    }
}