@import '../styles/colors.scss';

#aboutPage {
    p {
        font-size: .9rem;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 0;
    }

    #aboutIntro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 30px;

        @media screen and (max-width: 680px) {
            flex-direction: column;
        }

        #aboutImg {
            height: 40vh;
            width: 45%;
            background-image: url('../../public/images/dogs/christmas-bandanas.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @media screen and (max-width: 680px) {
                width: 100%;
            }
        }

        #aboutText {
            width: 48%;

            @media screen and (max-width: 680px) {
                width: 100%;
                margin-top: 10px;
            }

            #aboutTitle {
                display: flex;
                flex-direction: row;

                h1 {
                    font-size: 1.6rem;
                    display: inline;
                    font-weight: 400;
                    width: 30%;
                    padding-right: 10px;
                    @media screen and (max-width: 500px) {
                        width: 50%;
                    }
                }

                .line {
                    margin-top: 12px;
                    border-bottom: 1px solid black;
                    height: 5px;
                    width: 100%;
                }
            }
        }
    }

    #highlightSection {
        padding-top: 30px;
        .bannerImg {
            width: 100%;
            height: 27vh;
            background-color: grey;
            margin-bottom: 30px;
        }

        #splitAbout {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 60px;

            @media screen and (max-width: 680px) {
               flex-direction: column;
            }

            #billy, #peach {
                width: 38%;

                @media screen and (max-width: 680px) {
                    width: 100%;
                    margin-top: 20px;
                }

                h2 {
                    font-size: 1.3rem;
                    font-weight: 400;
                }

                .peachPhoto {
                    height: 40vh;
                    margin-top: 28px;
                    background-image: url('../../public/images/peach/peach.jpg');
                    background-position: 0% 80%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .billyPhoto {  
                    height: 40vh;
                    margin-top: 28px;
                    background-image: url('../../public/images/billy/billy.jpg');
                    background-position: 0% 80%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            #peach {
                @media screen and (max-width: 680px) {
                    border-bottom: 1px solid $black;
                    padding-bottom: 30px;
                }
            }
        }
    }
}