@import './styles/colors.scss';
@import './styles/typography.scss';
@import './styles/vars.scss';
@import './styles/mixins.scss';

.body {
    h1 {
        font-size: 1.9rem !important;
        font-weight: 900;
    }

    h2 {
        font-weight: 800;
    }
}

#header {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    padding: 10px 80px;
    z-index: 5;
    position: relative;
    color: white;
    padding-top: 20px;
    margin-bottom: 210px;

    @media screen and (max-width: 640px) {
        margin-bottom: 190px;
    }

    @include large-container;

    h3 {
        font-size: 1.4rem;
        text-transform: uppercase;

        a {
            color: white;
            font-weight: 800;
            text-decoration: none;

            &:hover {
                color: $black;
            }

            @media screen and (max-width: 640px) {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: 895px) {
            margin: 0;
        }
    }

    h3, ul {
        margin-top: 0px;
        padding-bottom: 0;
    }

    ul {
        
        bottom: 0;
    }

    .header__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 895px) {
            flex-direction: column;
        }
    }
    
    .headerNav {
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;

        @media screen and (max-width: 895px) {
            // flex-direction: column;
        }

        li {
            list-style-type: none;

            a {
                font-size: .8rem;
                text-decoration: none;
                color: white;

                &:hover {
                    color: #242222;
                    cursor: pointer;
                }

                @media screen and (max-width: 640px) {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

footer {
    .topFooter {
        background-color: #525B53;
        padding: 40px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 730px) {
            flex-direction: column;
            gap: 40px;
        }

        @include large-container;

        .homeLink {
            text-decoration: none;
            font-size: 1.5rem;
            margin: 0;
            color: white;
            font-weight: 800;
            &:hover {
                color: #242222;
            }
        }
        .socialLinks {
            display: flex;
            flex-direction: row;

            .instagramLogo {
                color: white;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .footerColumns {
            display: flex;
            flex-direction: row;
            gap: 40px;

            @media screen and (max-width: 730px) {
                flex-direction: column;
                gap: 20px;
            }

            ul {
                margin: 0;
                padding-left: 0;
                li {
                    list-style-type: none;
                    margin-bottom: 10px;
                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 0.8rem;
                        &:hover {
                            color: $black;
                        
                        }

                        @media screen and (max-width: 640px) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .bottomFooter {
        // border-top: 1.5px solid black;
        background-color: $primary-green;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 0;
    }
    .footerDiv {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        // border-top: 1.5px solid black;
    }

    .footerText {
        @include large-container;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 12px;
        font-weight: 600;
        color: #525B53;
        p {
            margin: 0;
        }
    }
}