#homePage {
    .welcomeContainer {
        display: flex;
        flex-direction: row;

        h1 {
            margin-right: 20px;
            font-size: 1.6rem;
            display: inline;
            font-weight: 400;
        }

        .lineBreak {
            margin-top: 30px;
            border-bottom: 1px solid black;
            height: 5px;
            width: 100%;
        }
    }

    #intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 30px;

        p {
            font-size: .85rem;
            width: 60%;
        }

        .logoIntro {
            height: 150px;
            width: 200px;
            background-color: darkgrey;
            margin-right: 30px;
        }
    }

    #pageLinks {
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
}