@import './styles/colors.scss';
@import './styles/typography.scss';
@import './styles/vars.scss';
@import './styles/mixins.scss';

#homePage {
    margin-top: 570px;

    @media screen and (max-width: 640px) {
        margin-top: 390px;
    }

    h2 {
        font-size: 1.8rem;
    }
    .welcomeContainer {
        display: flex;
        flex-direction: row;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        @include large-container;

        h1 {
            margin-right: 20px;
            font-size: 1.6rem;
            display: inline;
            font-weight: 400;
        }
    }

    #intro {
        @include large-container;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;

        .welcome {
            font-weight: 800;
            font-size: 2.8rem;
        }

        p {
            font-size: .85rem;
            margin: 0;
        }
    }

    #recentPosts {

        h2 {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1.5px solid black;
            border-top: 1.5px solid black;
            margin-bottom: 0;
            @include large-container;
        }

        .postList {
            .postLink {
                text-decoration: none;
                color: black;
            }
            .post {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1.5px solid black;
                padding-top: 40px;
                padding-bottom: 40px;
                position: relative;
                @include large-container;

                &:hover {
                    background-color: $teal;
                }

                @media screen and (max-width: 640px) {
                    flex-direction: column;
                    height: auto;
                }

                h3, p {
                    margin: 0;
                }

                .number {
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    font-weight: 300;
                }

                .title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .number, .title, .date {
                    width: 33%;
                    text-align: left;

                    @media screen and (max-width: 640px) {
                        width: 100%;
                    }
                }

                .date {
                    text-align: right;
                    text-transform: uppercase;
                    font-style: italic;

                    @media  screen and (max-width: 640px) {
                        position: absolute;
                        top: 40px;
                        right: 40px;
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    .photoBar {
        height: 300px;
        width: 100%;
        background-image: url('../public/images/dogs/running.jpg');
        background-position: 50% 60%;
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (max-width: 640px) {
            height: 200px;
            background-size: 200%;
        }
    }

    #profileHighlight {
        border-top: 1.5px solid black;

        .profileRow{
            display: flex;
            flex-direction: row;
            border-bottom: 1.5px solid black;
            height: auto;

            @media screen and (max-width: 850px) {
                flex-direction: column;
            }

            .profileAbout {
                padding-top: 40px;
                padding-bottom: 40px;
                @include large-container;

                h2 {
                    margin-bottom: 30px;
                }

                .blueText {
                    color: $orange;
                    font-weight: 800;
                    font-size: 1.2rem;
                }

                @media screen and (min-width: 1200px) {
                    padding-right: 40px;
                    
                }

                .profileSocials {
                    display: flex;
                    flex-direction: row;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: .9rem;

                        &:hover {
                            color: $orange;
                        
                        }
                    }
                }
            }
            .leftCol {
                width: 50%;
                @media screen and (max-width: 850px) {
                    width: 100%;
                }
            }
            .rightCol {
                width: 50%;
                border-left: 1.5px solid black;
                @media screen and (max-width: 850px) {
                    flex-direction: column;
                    width: 100%;
                    height: 500px;
                    border-top: 1.5px solid black;
                    border-left: none;
                }
            }
        }

        .profileImgOne {
            width: 100%;
            height: 100%;
            background-image: url('../public/images/profile-highlight/blue-laska-one.png');
            background-size:cover;
            background-position: 50% 90%;
            background-repeat: no-repeat;
        }

        .profileRowTwo {
            display: flex;
            flex-direction: row;
            height: 500px;

            @media screen and (max-width: 575px) {
                flex-direction: column;
                height: auto;
            }

            .leftCol {
                width: 50%;
                @media screen and (max-width: 575px) {
                    width: 100%;
                    height: 300px;
                }
            }
            .rightCol {
                width: 50%;
                border-left: 1.5px solid black;
                @media screen and (max-width: 575px) {
                    width: 100%;
                    height: 300px;
                    border-left: none;
                    border-top: 1px solid black;
                }
            }

            .profileImgTwo {
                width: 100%;
                height: 100%;
                background-image: url('../public/images/profile-highlight/blue-laska-two.png');
                background-size:cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
            .profileImgThree {
                width: 100%;
                height: 100%;
                background-image: url('../public/images/profile-highlight/blue-laska-three.png');
                background-size:cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}