#heroImage {
    background-image: url('../../../public/images/heroimages/homepage-hero.jpg');
    background-repeat: no-repeat;
    background-position: 60% 55%;
    background-size: cover;
    height: 50vh;
    width: 100%;
}