#heroImage {
    background-image: url('../../../public/images/heroimages/homepage.jpg');
    background-repeat: no-repeat;
    background-position: 30% 45%;
    background-size: cover;
    height: 50vh;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
}