@import '../styles/colors.scss';

#funPage {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    .funHero {
        background-image: url('../../public/images/heroimages/funpage-hero.jpg');
        background-repeat: no-repeat;
        background-position: 30% 50%;
        background-size: cover;
        height: 25vh;
        width: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
    }

    .favoriteProducts {
        padding-top: 40px;
        h2 {
            padding-left: 80px;
            margin-bottom: 30px;
        }
        .productsContainer {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: nowrap;
            border-top: 1.5px solid black;
            margin-bottom: 20px;

            .products {
                display: inline-flex;
                padding-bottom: 20px;

                .product {
                    padding: 20px;
                    flex: 0 0 auto;
                    width: auto;
                    text-align: left;
                    border-right: 1.5px solid black;
                    border-bottom: 1.5px solid black;
                    background-color: $primary-green;

                    p {
                        text-transform: uppercase;
                        font-weight: 800;
                        margin-bottom: 5px;
                    }

                    a {
                        color: black;
                        font-size: .9rem;
                    }

                    .productImage {
                        height: 200px;
                        width: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }

    .favoriteSpots {
        padding: 40px 0;
        h2 {
            padding-left: 80px;
        }
        .locationTabs {
            border-bottom: 1.5px solid black;
            padding-left: 65px;

            // .tab {
            //     text-align: left !important;
            // }
        }

        button {
            border: none;
            background-color: none;
            font-size: 1.1rem;
            color: black;
        }

        .locationContainer {
            .location {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                border-bottom: 1.5px solid black;
                padding: 20px 80px;
                
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}