@import "../../styles/colors.scss";
.photoBar {
    height: 120px;
    width: 100%;
    background-image: url('../../../public/images/heroimages/birds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 640px) {
        height: 180px;
    }
}